# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS metadata
.DS_Store

# Logs
*.log

# Outputs
outputs/


# Pytest cache
.pytest_cache/

# Editor settings
.vscode/
.idea/

# Environment files
.env

# Ignore everything inside inputs and outputs/ but keep the folders
inputs/*
!inputs/.gitkeep
outputs/*
!outputs/.gitkeep